@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: "Lora","Courier New",monospace,serif;
}

.content{
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 1em;
    width: 90%;
    /* height: 90%; */
    margin: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.team{
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "i t t t"
        "d d d d";
    align-items: center;
    justify-items: center;
    padding: 20px;
    border-radius: 5px;
    align-content: center;
    background-color: #131313;
    width: 280px;
    min-height: 200px;
    height: 100%;
    font-size: 1.5em;
}

.status{
    grid-area: i;
    border-radius: 25px;
    margin: 3px;
    text-align: center;
    padding: 3px;
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items:center;
    justify-content:center;
}
.name{
    grid-area: t;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    justify-self: baseline;
}
.description{
    /* border-top: 1px solid white; */
    display: flex;
    padding-top: .1em;
    margin-top: .1em;
    grid-area: d;
    word-wrap: anywhere;
    text-align: center;
    align-items:center;
    justify-content:center;
    font-size: 0.8em;
    align-self: flex-start;
}

.✅{
    background-color: #33ff33;
}
.⚠{
    background-color: #ffff33;
}
.⛔{
    background-color: #ff3333;
}

h1{
    text-align: center;
    /* margin-bottom: 0; */
}

p{
    text-align: center;
    margin-bottom: 0;
}

a{
    background-color: white;
    padding: .5em;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

img.emoji {
    height: 1em;
    width: 1em;
    vertical-align: -0.1em;
    margin: 0 6px;
 }

@media only screen and (min-width: 600px){
    .content{
        grid-template-columns: repeat(2, 1fr);
        /* gap: .5em; */
    }
}

@media only screen and (min-width: 900px){
    .content{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px){
    .content{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1500px){
    .content{
        grid-template-columns: repeat(5, 1fr);
    }
}